* {
    margin: 0;
    padding: 0;
  }
  
  @font-face {
    font-family: "FrederickatheGreat";
    src:
      local("FrederickatheGreat"),
      url("/fonts/FrederickatheGreat-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Megrim";
    src:
      local("Megrim"),
      url("/fonts/Megrim-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Kristi";
    src:
      local("Kristi"),
      url("/fonts/Kristi-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Anta";
    src:
      local("Anta"),
      url("/fonts/Anta-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "HappyMonkey";
    src:
      local("HappyMonkey"),
      url("/fonts/HappyMonkey-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Italianno";
    src:
      local("Italianno"),
      url("/fonts/Italianno-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "JacquesFrancoisShadow";
    src:
      local("JacquesFrancoisShadow"),
      url("/fonts/JacquesFrancoisShadow-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Kalam";
    src:
      local("Kalam"),
      url("/fonts/Kalam-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Kavoon";
    src:
      local("Kavoon"),
      url("/fonts/Kavoon-Regular.ttf") format("truetype");
  }
  


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    
  }
  .imagineaplace {
    font-family: "FrederickatheGreat", serif;
    font-size: 80px;
    text-align: center;
    color: #fff;
  }
  
  .description {
    /*font-family: 'League Gothic', sans-serif;*/
    font-size: 40px;
    color: #fff;
    font-family: "Italianno", serif;
  }

  .not-supported {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @media only screen and (max-width: 700px) {
    .imagineaplace {
        display: none;
    }

    .not-supported {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 300px;
    }
  }

  @media (min-width: 701px) and (max-width: 799px) and (min-height:800px) {
    .main {
      margin-top: 300px;
    }
  }

  @media (min-width: 800px) and (max-width: 900px) and (min-height:1000px) {
    .main {
      margin-top: 200px;
    }
  }

  @media (min-width: 701px) and (max-width: 999px) and (min-height:600px) {
    .main {
      margin-top: 200px;
    }
  }

  @media (min-width: 1000px) and (max-width: 1099px) and (min-height: 600px) and (max-height: 699px) {
    .main {
      margin-top: 150px;
    }
  }

  @media (min-width: 1000px) and (max-width: 1099px) and (min-height: 700px) and (max-height: 900px) {
    .main {
      margin-top: 170px;
    }
  }

  @media (min-width: 1100px) and (max-width: 1300px) and (min-height: 700px) and (max-height: 900px) {
    .main {
      margin-top: 200px;
    }
  }

  @media (min-width: 1000px) and (min-height: 1000px) {
    .main {
      margin-top: 400px;
    }
  }
  @media (min-width: 1300px) and (max-width: 3000px) {
    .main {
      margin-top: 250px;
    }
    
  }
  @media (min-width: 900px) and (max-width: 1299px) {
    .main {
      margin-top: 230px;
    }
  }

  @media (min-width: 1300px) and (min-height:1200px) {
    .main {
      margin-top: 500px;
    }
  }